body {
  background-color: #111010;
}


.container-game {
  background-color: #2E2B2B;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.title-game {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: hsl(212, 81%, 53%);
}


.game-container {
  background-color: white;
  width: 100%;
  height: auto;
  padding-bottom: 22px;
  border: 3px solid hsl(212, 81%, 53%);
  margin-top: 27px;
  box-sizing: border-box;
}


.time-game {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  font-size: 30px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 20px;
  color: #111010;
}


.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(0, 255, 0);
}

.restart-game {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.donate-game {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.btn-donate {
  background-color: hsl(212, 81%, 53%);
  border-style: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-donate {
  color: white;
  font-size: 18px;
  text-decoration: none;
}


.btn-donate:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-donate:active {
  background-color: hsl(212, 81%, 33%);
}


.btn-restart {
  background-color: hsl(212, 81%, 53%);
  color: white;
  border-style: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-restart:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-restart:active {
  background-color: hsl(212, 81%, 33%);
}


.game-result {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  font-size: 20px;
  margin-top: 19px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  color: #111010;
}

#game-score {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2E2B2B;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}



.start-button {
  background-color: hsl(212, 81%, 53%);
  color: white;
  border-style: none;
  padding: 10px 40px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.start-button:hover {
  background-color: hsl(212, 81%, 43%);
}

.start-button:active {
  background-color: hsl(212, 81%, 33%);
}

.infos-container {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
}

.infos-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;

}

.inf-cont {
  display: flex;
  justify-content: space-around;
}

.text-change {
  color: rgb(0, 255, 0);
}



.js-infos {
  color: rgb(0, 255, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.js-infos2 {
  color: rgb(0, 255, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.js-infos3 {
  color: rgb(0, 255, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.js-infos4 {
  color: rgb(0, 255, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.js-infos5 {
  color: rgb(0, 255, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.js-infos6 {
  color: rgb(0, 255, 0);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}


.infos-text {
  color: #2E2B2B;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.name-put {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 50%;
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.name-friend-put {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 50%;
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.country-friend-put {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 55%;
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.country-put {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 50%;
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.age-put {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 50%;
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.age-friend-put {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 50%;
  padding: 3px 8px;
  font-size: 0.9rem;
  margin-top: 6px;
}

.send-btn {
  padding: 4px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 14px;
  margin-left: 3px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.send-btn:hover {
  background-color: hsl(212, 81%, 43%);
}

.send-btn:active {
  background-color: hsl(212, 81%, 33%);
}


.container-1 {
  display: flex;
  justify-content: center;
  margin-left: 280px;  
  margin-top: 12px;
}

.container-2 {
  display: flex;
  justify-content: center;
  margin-left: -280px;  
  margin-top: 12px;
}

.container-3 {
  display: flex;
  justify-content: center;
  margin-left: 280px;  
  margin-top: 12px;
}

.container-4 {
  display: flex;
  justify-content: center;
  margin-left: -280px;  
  margin-top: 12px;
}

.container-5 {
  display: flex;
  justify-content: center;
  margin-left: 280px;  
  margin-top: 12px;
}

.container-6 {
  display: flex;
  justify-content: center;
  margin-left: -280px;  
  margin-top: 12px;
}

.container-7 {
  display: flex;
  justify-content: center;
  margin-left: 280px;  
  margin-top: 12px;
}

.container-8 {
  display: flex;
  justify-content: center;
  margin-left: -280px;  
  margin-top: 12px;
}

.container-9 {
  display: flex;
  justify-content: center;
  margin-left: 280px;  
  margin-top: 12px;
}

.container-10 {
  display: flex;
  justify-content: center;
  margin-left: -280px;  
  margin-top: 12px;
}

.container-11 {
  display: flex;
  justify-content: center;
  margin-left: 280px;  
  margin-top: 12px;
}

.container-12 {
  display: flex;
  justify-content: center;
  margin-left: -280px;  
  margin-top: 12px;
}




.per-1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(212, 81%, 53%);
}

#per-2 {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 17%;
  padding: 8px 9px;
  font-size: 18px;
}

#per-3 {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 17%;
  padding: 8px 9px;
  font-size: 18px;
}

#per-4 {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 17%;
  padding: 8px 9px;
  font-size: 18px;
}

#per-5 {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 17%;
  padding: 8px 9px;
  font-size: 18px;
}

#per-6 {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 17%;
  padding: 8px 9px;
  font-size: 18px;
}

#per-7 {
  border: 2px solid hsl(212, 81%, 53%);
  border-radius: 3px;
  color: #111010;
  width: 17%;
  padding: 8px 9px;
  font-size: 18px;
}

.per2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);  
}

.per3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);
}

.per4 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);
}

.per5 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);
}

.per6 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);
}


.per7 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 255, 0);
}


.btn-1 {
  padding: 6px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 18px;
  margin-left: 6px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-1:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-1:active {
  background-color: hsl(212, 81%, 33%);
}

.btn-2 {
  padding: 6px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 18px;
  margin-left: 6px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-2:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-2:active {
  background-color: hsl(212, 81%, 33%);
}


.btn-3 {
  padding: 6px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 18px;
  margin-left: 6px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-3:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-3:active {
  background-color: hsl(212, 81%, 33%);
}

.btn-4 {
  padding: 6px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 18px;
  margin-left: 6px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-4:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-4:active {
  background-color: hsl(212, 81%, 33%);
}


.btn-5 {
  padding: 6px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 18px;
  margin-left: 6px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-5:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-5:active {
  background-color: hsl(212, 81%, 33%);
}


.btn-6 {
  padding: 6px;
  background-color: hsl(212, 81%, 53%);
  color: white;
  font-size: 18px;
  margin-left: 6px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-6:hover {
  background-color: hsl(212, 81%, 43%);
}

.btn-6:active {
  background-color: hsl(212, 81%, 33%);
}



@media (max-width: 320px) {
   .title-game {
   font-size: 23px;
  }

  .start-button {
    padding: 5px 30px;
    font-size: 15px;
  }


  .time-game {
   font-size: 25px;
  }

  .game-result {
    font-size: 16px;
  }

  .btn-restart {
    padding: 5px 30px;
    font-size: 15px;
  }


  .infos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .infos-container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .container-1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-2 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-3 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-4 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-5 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-6 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-7 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-8 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;;
  }

  .container-9 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-10 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-11 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-12 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }



  .per-1 {
    font-size: 14px;
  }

  .per2 {
   font-size: 14px;
  }

  .per3 {
    font-size: 14px;
  }

  .per4 {
    font-size: 14px;
  }

  .per5 {
    font-size: 14px;
  }

  .per6 {
    font-size: 14px;
  }

  .per7 {
    font-size: 14px;
  }


  #per-2 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  .btn-1 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-2 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-3 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-4 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-5 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-6 {
    padding: 2px 6px;
    font-size: 14px;
  }

  #per-3 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-4 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-5 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-6 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-7 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  .js-infos { 
    font-size: 12px;
  }

  .js-infos2 {  
    font-size: 12px;
  }

  .js-infos3 { 
    font-size: 12px;
  }

  .js-infos4 {
    font-size: 12px;
  }

  .js-infos5 {
    font-size: 12px;

  }

  .js-infos6 {
    font-size: 12px;
  }


  .infos-text {
    font-size: 14px;
  }

  .name-put {
    width: 50%;
    font-size: 12px;
  }

  .name-friend-put {
    width: 50%;
    font-size: 12px;
  }

  .country-friend-put {
    width: 56%;
    font-size: 12px;
  }

  .country-put {  
    width: 50%;
    font-size: 12px;
  }

  .age-put {
    width: 50%;
    font-size: 12px;
  }

  .age-friend-put {
    width: 50%;
    font-size: 12px;
  }

  .send-btn {
    padding: 7px 4px;
    font-size: 10px;
  }

  .btn-donate {
    padding: 5px 30px;  
  }

  .text-donate {
    font-size: 15px;
  }
}






@media (max-width: 700px) {
    .title-game {
   font-size: 23px;
  }

  .start-button {
    padding: 5px 30px;
    font-size: 15px;
  }


  .time-game {
   font-size: 25px;
  }

  .game-result {
    font-size: 16px;
  }

  .btn-restart {
    padding: 5px 30px;
    font-size: 15px;
  }


  .infos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .infos-container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .container-1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-2 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-3 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-4 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-5 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-6 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-7 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-8 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;;
  }

  .container-9 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-10 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-11 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-12 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }



  .per-1 {
    font-size: 14px;
  }

  .per2 {
   font-size: 14px;
  }

  .per3 {
    font-size: 14px;
  }

  .per4 {
    font-size: 14px;
  }

  .per5 {
    font-size: 14px;
  }

  .per6 {
    font-size: 14px;
  }

  .per7 {
    font-size: 14px;
  }


  #per-2 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  .btn-1 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-2 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-3 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-4 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-5 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-6 {
    padding: 2px 6px;
    font-size: 14px;
  }

  #per-3 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-4 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-5 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-6 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-7 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  .js-infos { 
    font-size: 12px;
  }

  .js-infos2 {  
    font-size: 12px;
  }

  .js-infos3 { 
    font-size: 12px;
  }

  .js-infos4 {
    font-size: 12px;
  }

  .js-infos5 {
    font-size: 12px;

  }

  .js-infos6 {
    font-size: 12px;
  }


  .infos-text {
    font-size: 14px;
  }

  .name-put {
    width: 50%;
    font-size: 12px;
  }

  .name-friend-put {
    width: 50%;
    font-size: 12px;
  }

  .country-friend-put {
    width: 56%;
    font-size: 12px;
  }

  .country-put {  
    width: 50%;
    font-size: 12px;
  }

  .age-put {
    width: 50%;
    font-size: 12px;
  }

  .age-friend-put {
    width: 50%;
    font-size: 12px;
  }

  .send-btn {
    padding: 7px 4px;
    font-size: 10px;
  }

  .btn-donate {
    padding: 5px 30px;  
  }

  .text-donate {
    font-size: 15px;
  }
}





@media (max-width: 1024px) {
  .title-game {
   font-size: 23px;
  }

  .start-button {
    padding: 5px 30px;
    font-size: 15px;
  }


  .time-game {
   font-size: 25px;
  }

  .game-result {
    font-size: 16px;
  }

  .btn-restart {
    padding: 5px 30px;
    font-size: 15px;
  }


  .infos-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .infos-container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .container-1 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-2 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-3 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-4 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-5 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-6 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-7 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-8 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;;
  }

  .container-9 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-10 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }

  .container-11 {
    display: flex;
    justify-content: center;
    margin-left: 80px;  
    margin-top: 12px;
  }

  .container-12 {
    display: flex;
    justify-content: center;
    margin-left: -76px;  
    margin-top: 12px;
  }



  .per-1 {
    font-size: 14px;
  }

  .per2 {
   font-size: 14px;
  }

  .per3 {
    font-size: 14px;
  }

  .per4 {
    font-size: 14px;
  }

  .per5 {
    font-size: 14px;
  }

  .per6 {
    font-size: 14px;
  }

  .per7 {
    font-size: 14px;
  }


  #per-2 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  .btn-1 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-2 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-3 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-4 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-5 {
    padding: 2px 6px;
    font-size: 14px;
  }

  .btn-6 {
    padding: 2px 6px;
    font-size: 14px;
  }

  #per-3 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-4 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-5 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-6 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  #per-7 {
    width: 18%;
    padding: 4px 12px;
    font-size: 12px;
  }

  .js-infos { 
    font-size: 12px;
  }

  .js-infos2 {  
    font-size: 12px;
  }

  .js-infos3 { 
    font-size: 12px;
  }

  .js-infos4 {
    font-size: 12px;
  }

  .js-infos5 {
    font-size: 12px;

  }

  .js-infos6 {
    font-size: 12px;
  }


  .infos-text {
    font-size: 14px;
  }

  .name-put {
    width: 50%;
    font-size: 12px;
  }

  .name-friend-put {
    width: 50%;
    font-size: 12px;
  }

  .country-friend-put {
    width: 56%;
    font-size: 12px;
  }

  .country-put {  
    width: 50%;
    font-size: 12px;
  }

  .age-put {
    width: 50%;
    font-size: 12px;
  }

  .age-friend-put {
    width: 50%;
    font-size: 12px;
  }

  .send-btn {
    padding: 7px 4px;
    font-size: 10px;
  }

  .btn-donate {
    padding: 5px 30px;  
  }

  .text-donate {
    font-size: 15px;
  }
}


@media (min-width: 700px) {
  .container-1 {
    margin-left: 140px;
  }

  .container-2 {
    margin-left: -140px;
  }

  .container-3 {
    margin-left: 140px;
  }

  .container-4 {
    margin-left: -140px;
  }

  .container-5 {
    margin-left: 140px;
  }

  .container-6 {
    margin-left: -140px;
  }

  .container-7 {
    margin-left: 140px;
  }

  .container-8 {
    margin-left: -140px;
  }

  .container-9 {
    margin-left: 140px;
  }

  .container-10 {
    margin-left: -140px;
  }

  .container-11 {
    margin-left: 140px;
  }

  .container-12 {
    margin-left: -140px;
  }
}