body {
  background-color: #111010;
}


.container-body {
  width: 100%;
  height: auto;
  background-color: #2E2B2B;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;  
}


.container-body2 {
  width: 100%;
  height: auto;
  background-color: #2E2B2B;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;  
}

.box-body {
  width: 30%;
  height: 250px;
  background-color: white;
  margin: 15px;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 3px solid #2480E8;
}

.button-body {
  padding: 10px 20px;
  margin-top: 50px;
  background-color: hsl(212, 81%, 53%);
  border-style: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.button-body:hover {
  background-color: hsl(212, 81%, 43%);
}

.button-body:active {
  background-color: hsl(212, 81%, 33%);
}


.link-button {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.quiz-container {
  width: 100%;
  height: auto;
  background-color: #2480E8;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap; 
  border: 3px solid white; 
}

.quiz-text {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.social-media-link {
  display: flex;
  justify-self: center;
  margin-top: 26px;
}

.social-link-text {
  color: #2480E8;
  font-family: Arial, Helvetica, sans-serif;
}

.button-donate {
  border-style: none;
  padding: 10px 20px;
  background-color: hsl(212, 81%, 53%);
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.button-donate:hover {
  background-color: hsl(212, 81%, 43%);
}

.button-donate:active {
  background-color: hsl(212, 81%, 33%);
}

.link-donate {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

@media (max-width: 320px) {
  .box-body {
    width: 100%;
    height: 200px;
  }

  .body-text {
    font-size: 20px;
  }

  .button-body {
    padding: 8px 20px;
    margin-top: 25px;
  }

  .link-button {
    font-size: 13px;
  }

  .quiz-text {
    font-size: 15px;
  }

  .button-donate {
    padding: 8px 20px;
  }

  .link-donate {
    font-size: 13px;   
  }

  .social-link-text {
    color: #2480E8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .box-body {
    width: 100%;
    height: 200px;
  }

  .body-text {
    font-size: 20px;
  }

  .button-body {
    padding: 8px 20px;
    margin-top: 25px;
  }

  .link-button {
    font-size: 13px;
  }

  .quiz-text {
    font-size: 15px;
  }

  .button-donate {
    padding: 8px 20px;
  }

  .link-donate {
    font-size: 13px;   
  }

  .social-link-text {
    color: #2480E8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
      
   
@media (max-width: 1024px) {
  .box-body {
    width: 100%;
    height: 200px;
  }

  .body-text {
    font-size: 20px;
  }

  .button-body {
    padding: 8px 20px;
    margin-top: 25px;
  }

  .link-button {
    font-size: 13px;
  }

  .quiz-text {
    font-size: 15px;
  }

  .button-donate {
    padding: 8px 20px;
  }

  .link-donate {
    font-size: 13px;   
  }

  .social-link-text {
    color: #2480E8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}















































