body {
  background-color: #111010;
}

.container-quiz {
  background-color: #2E2B2B;
  justify-content: center;
  display: flex;
  padding-bottom: 10px;
}

.title-quiz {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: #2480E8;
}


.quiz-container {
  background-color: hsl(0, 0%, 100%);
  margin-top: 50px;
  border: 3px solid hsl(212, 81%, 53%);
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  padding-bottom: 40%;
  text-align: center;
}


.question {
  margin-top: 30px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} 

.option {
  margin: 25px;
  background-color: hsl(212, 81%, 53%);
  padding: 10px 40px;
  border-style: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 45px;
}

.option:hover {
  background-color: hsl(212, 81%, 43%);
}

.option:active {
  background-color: hsl(212, 81%, 33%);
}

.timer {
  font-size: 40px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 20px;
  color: #111010;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #2E2B2B;
}

.restart-btn {
  background-color: hsl(212, 81%, 53%);
  color: white;
  border-style: none;
  padding: 10px 40px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
}


.button-donate {
  border-style: none;
  padding: 10px 40px;
  background-color: hsl(212, 81%, 53%);
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 0.2s ease;
}

.button-donate:hover {
  background-color: hsl(212, 81%, 43%);
}

.button-donate:active {
  background-color: hsl(212, 81%, 33%);
}

.link-donate {
  color: white;
  font-size: 18px;
  text-decoration: none;
}




.restart-btn:hover {
  background-color: hsl(212, 81%, 43%);
}

.restart-btn:active {
  background-color: hsl(212, 81%, 33%);
}

.red {
  color: hsl(0, 100%, 50%);
}

.green {
  color: rgb(1, 255, 1);
}
   
@media (max-width: 320px) { 
  .quiz-container {
    height: auto;
  }
  
  .timer {
    font-size: 25px;  
  }

  .question {
    font-size: 18px;
  }

  .option {
    font-size: 15px;
    padding: 5px 30px;
    margin: 10px;
    margin-top: 30px;
  }

  .result { 
    font-size: 18px;
  }

  .restart-btn {
    padding: 5px 30px;
    font-size: 15px;  
  }
  
  .title-quiz {
    font-size: 23px;
  }

  .button-donate {
     padding: 5px 30px;   
   }

  .link-donate {
    font-size: 15px;
  }
}        

    
@media (max-width: 700px) { 
  .quiz-container {
    height: auto;
  }
  
  .timer {
    font-size: 25px;  
  }

  .question {
    font-size: 18px;
  }

  .option {
    font-size: 15px;
    padding: 5px 30px;
    margin: 10px;
    margin-top: 30px;
  }

  .result { 
    font-size: 18px;
  }

  .restart-btn {
    padding: 5px 30px;
    font-size: 15px;  
  }
  
  .title-quiz {
    font-size: 23px;
  }

  .button-donate {
     padding: 5px 30px;   
   }

  .link-donate {
    font-size: 15px;
  }
}        
       
@media (max-width: 1024px) {  
  .quiz-container {
    height: auto;
  }
  
  .timer {
    font-size: 25px;  
  }

  .question {
    font-size: 18px;
  }

  .option {
    font-size: 15px;
    padding: 5px 30px;
    margin: 10px;
    margin-top: 30px;
  }

  .result { 
    font-size: 18px;
  }

  .restart-btn {
    padding: 5px 30px;
    font-size: 15px;  
  }
  
  .title-quiz {
    font-size: 23px;
  }

  .button-donate {
     padding: 5px 30px;   
   }

  .link-donate {
    font-size: 15px;
  }
}