body {
    background-color: #111010;
}


.text-container {
    border-color: hsl(212, 81%, 53%);
    border-style: solid;
    border-width: 3px;
    width: 100%;
    box-sizing: border-box;
    height: 118px;
    background-color: white;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
}

.button-container {
    border-color: hsl(212, 81%, 53%);
    border-style: solid;
    border-width: 3px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    background-color: white;
    margin-top: 25px;
}

.link {
    color: white;
    text-decoration: none;
}


#buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 20px 45px;
    background-color: hsl(212, 81%, 53%);
    padding: 10px 40px;
    border-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 45px;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(212, 81%, 43%);
}

.btn:active {
    background-color: hsl(212, 81%, 33%);
}




@media screen and (max-width: 320px) {
    .text {
        font-size: 15px;
        margin-top: 15px;
        margin-right: 2px;
        margin-left: 2px;
    }

    .btn {
        padding: 5px 15px;
        margin: 40px 10px;
    }

    .link {
        font-size: 15px;
    }

    .text-container {
        height: 94px;
    }
}


@media screen and (max-width: 700px) {
    .text {
        font-size: 15px;
        margin-top: 15px;
        margin-right: 2px;
        margin-left: 2px;
    }

    .btn {
        padding: 5px 15px;
        margin: 40px 10px;
    }

    .link {
        font-size: 15px;
    }

    .text-container {
        height: 94px;
    }
}


@media screen and (max-width: 1024px) {
    .text {
        font-size: 15px;
        margin-top: 15px;
        margin-right: 2px;
        margin-left: 2px;
    }

    .btn {
        padding: 5px 15px;
        margin: 40px 10px;
    }

    .link {
        font-size: 15px;
    }

    .text-container {
        height: 94px;
    }
}


