body {
  background-color: #111010;
}

.lesson-container {
  display: flex;
  background-color: #2E2B2B;
  justify-content: center;
  padding-bottom: 10px;
}

.lesson-title {
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: #2480E8;
}


.container {
  width: 100%;
  height: auto;
  background-color: #2E2B2B;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  }


.box {
  width: 30%;
  background-color: white;
  color: #2480E8;
  margin: 15px;
  border: 3px solid #2480E8;
  text-align: center;
  font-size: 55px;
  font-family:Arial, Helvetica, sans-serif ;
  
}


.container2 {
  width: 100%;
  height: auto;
  background-color: #2E2B2B;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.text {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.img {
  max-width: 45%;
  height: 150px;
  margin: 4px 4px;
  object-fit: contain;
}


@media (max-width: 320px) {
  .lesson-title {
    font-size: 23px; 
  }
   
  .box {
    width: 30%;
   }

  .img {
    max-width: 50%;
    object-fit: contain;
    height: 100px;
    margin: 4px 4px;
  }
   
  .text {
   font-size: 15px;
  }
}


@media (max-width: 700px) {
  .lesson-title {
    font-size: 23px; 
  }
   
  .box {
    width: 30%;
   }

  .img {
    max-width: 50%;
    object-fit: contain;
    height: 100px;
    margin: 4px 4px;
  }
   
  .text {
   font-size: 15px;
  }
}  
  
@media (max-width: 1024px) {
  .lesson-title {
    font-size: 23px; 
  }
   
  .box {
    width: 30%;
   }

  .img {
    max-width: 50%;
    object-fit: contain;
    height: 100px;
    margin: 4px 4px;
  }
   
  .text {
   font-size: 15px;
  }
}
      











































































